[submodule "src/roboy_communication"]
	path = src/roboy_communication
	url = https://github.com/Roboy/roboy_communication
[submodule "src/common_utilities"]
	path = src/common_utilities
	url = https://github.com/Roboy/common_utilities
[submodule "src/cardsflow_rviz"]
	path = src/cardsflow_rviz
	url = https://github.com/CARDSflow/cardsflow_rviz
[submodule "src/roboy_rqt_plugins"]
	path = src/roboy_rqt_plugins
	url = https://github.com/Roboy/roboy_rqt_plugins
[submodule "src/robots"]
	path = src/robots
	url = https://github.com/CARDSflow/robots
[submodule "src/roboy_state_estimator"]
	path = src/roboy_state_estimator
	url = https://github.com/Roboy/roboy_state_estimator
[submodule "hardware/stepper_control/arduino-kicad-library"]
	path = hardware/stepper_control/arduino-kicad-library
	url = https://github.com/Alarm-Siren/arduino-kicad-library
[submodule "hardware/stepper_control/kicad_db"]
	path = hardware/stepper_control/kicad_db
	url = https://github.com/Roboy/kicad_db
[submodule "roboy_rqt_plugins"]
	path = roboy_rqt_plugins
	url = https://github.com/NexusReflex/roboy_rqt_plugins.git
